#map {
        height: 100%;
        width:100%;
        justify-content:center;
        position: absolute;
        left:0px;
        bottom:0px;
       }

.center {
	margin:0 auto;
	max-width: 500px;
}

.background{
  z-index: -1;
}
#backPic{
  opacity: 0.8;
}
.mapTitle{
  background-color: #FFDC33;
  opacity:0.9;
  outline:midnightblue solid 1px;
  color:midnightblue;
  margin:20px;
  padding:25px;
  text-align: center;
  position: relative;
  top:20px;
  z-index: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
}
.eventsList{
  float: left;
  width:280px;
  height:100%;
  padding:10px;
  margin: 10px;
  outline:midnightblue solid 1px;
  background-color: #D1E5FD;

}
.mapContainer{
  outline:midnightblue solid 1px;
  padding:20px;
  height:100%;
  background-color: #F0F8FF;
  max-width:800px;
  position: relative;
  left: 290px;
  top:10px;
  margin: 20px;
}
.mapview{

  width:100%;
}

#searchbar{
  margin:10px;
  padding:10px;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#select{
  margin: 8px;

}
.displayEvents{
  outline:midnightblue solid 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  height:410px;
}
.singleEvents{
  background-color: white;
  border-bottom:midnightblue solid 1px;
  font-size: 15px;
  padding:8px;
  text-align: left;

}
.name{
  text-align: left;
}
.detail{
  color:gray;
  font-size: 13px;

}
