#map {
        height: 100%;
        width:100%;
        justify-content:center;
        position: absolute;
        left:0px;
        bottom:0px;
       }

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.background{
  z-index: 1;
}
#backPic{
  opacity: 0.8;
}
#welcome{
  position:fixed;
  height:540px;
  left:0px;
  top:0px;
  z-index: 3;


}
.mapTitle{
  background-color: #FFDC33;
  opacity:0.9;
  outline:midnightblue solid 1px;
  color:midnightblue;
  margin:20px;
  padding:25px;
  text-align: center;
  position: relative;
  top:20px;

  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
}
.eventsList{
  float: left;
  width:280px;
  height:100%;
  padding:10px;
  margin: 10px;
  outline:midnightblue solid 1px;
  background-color: #D1E5FD;

}
.mapContainer{
  outline:midnightblue solid 1px;
  padding:20px;
  height:100%;
  background-color: #F0F8FF;
  max-width:800px;
  position: relative;
  left: 290px;
  top:10px;
  margin: 20px;
}
.mapview{

  width:100%;
}

#searchbar{
  margin:10px;
  padding:10px;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#select{
  margin: 8px;

}
.displayEvents{
  outline:midnightblue solid 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  height:390px;
}
.singleEvents{
  background-color: white;
  border-bottom:midnightblue solid 1px;
  font-size: 14px;
  padding:8px;
  text-align: left;

}
.name{
  text-align: left;
}
.detail{
  color:gray;
  font-size: 13px;

}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
