#map {
        height: 420px;
        width:95%;
        justify-content:center;
        position: absolute;
        left:20px;
        bottom:20px;
       }

.center {
	margin:0 auto;
	max-width: 500px;
}

.background{
  z-index: -1;
}
#backPic{
  opacity: 0.8;
}
.mapTitle{
  background-color: midnightblue;
  opacity:0.9;
  outline:yellow solid 5px;
  color:yellow;
  margin:20px;
  padding:20px;
  text-align: center;
  position: relative;
  top:20px;
  z-index: 1;
}
.eventsList{
  float: left;
  width:250px;
  height:100%;
  padding:10px;
  margin: 10px;
  outline:yellow solid 2px;
  background-color: #F0F8FF;
  justify-content: center;
  text-align: center;

}
.mapContainer{
  outline:yellow solid 2px;
  padding:20px;
  height:100%;
  background-color: #F0F8FF;
  max-width:800px;
  position: relative;
  left: 260px;
  top:10px;
  margin: 20px;
}
.mapview{

  width:100%;
}

#searchbar{
  margin:10px;
  padding:10px;
}
.singalEvents{
  background-color: white;
  outline:midnightblue solid 1px;
  font-size: 12px;
}
